@font-face {
    font-family: 'ubuntu';
    src:  url('/assets/fonts/Ubuntu-Regular.ttf') format('ttf');
  }

@import url("style/agenda.css");
@import url("style/container.css");

html, body{
    height: 100%;
    font-family: Ubuntu-Regular;
}

* {
    border: none;
    outline: none;
}