@import url("style/agenda.css");
@import url("style/container.css");

@font-face {
    font-family: 'ubuntu';
    src:  url('./asset/font/ubuntu/Ubuntu-Light.ttf');
}


html, body{
    height: 100%;
    font-family: ubuntu;
}

* {
    border: none;
    outline: none;
}