body {
    --radius : 10px;
    --padding: 5px;
}

#agenda {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    
    border-radius: var(--radius);

    width: 90vw;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

    font-size: calc(13px + 0.390625vw);
}

@media only screen and (max-width:400px) {
    #agenda {
        font-size: calc(7px + 0.3vw);
    }
}

.week {

}

.day {
    flex-grow: 1;
    flex-shrink: 1;
}

.title {
    background: #2bab2b;
    color: #fff;

    text-align: center;

    font-weight: bold;

    padding-left: var(--padding);
    padding-right: var(--padding);
}

.day:first-child .title {
    border-top-left-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
}
.day:last-child .title {
    border-top-right-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
}

.text{
    padding-left: var(--padding);
    min-height: 2ch;
}

.tag {
    padding-bottom: 1ch;
}

.tag div::before {
    content: "- ";
}

.tag div {
    word-break: break-all;
}