#passwordLabel {
    color: var(--red);
}

input[type="password"]:placeholder-shown {
    background-color: var(--dark2);
}

input[type="password"]:valid:not(:placeholder-shown) {
    background: #19ac19;
}

input[type="password"]:invalid {
    background: var(--red);
}