@import url("style/agenda.css");
@import url("style/container.css");
@import url("style/monthSwitcher.css");

@import url("style/password.css");

body {
    --dark2: #171717;
    --dark3: #212529;

    --red: #e12727;

    --fontColor: #f8f9fa;

    --paddingText: 7px;
}

html, body{
    height: 100%;
}

body {
    margin: 0;

    font-family: system-ui;
    
    background-color: var(--dark3);
}

* {
    color: var(--fontColor);

    border: none;
    outline: none;
}

input, button {
    border-radius: var(--radius);
    background: var(--dark2);
}

input {
    padding-left: var(--paddingText);
}

button:hover {
    background: var(--dark1);
}

a {
    text-decoration: none;
    color: #0f8c28;
    font-weight: bold;
}

a:hover {
    color: #06b308;
}

footer {
    background-color: var(--dark2);

    margin-top: 3ch;
    padding-left: var(--paddingText);
    padding-bottom: 3px;
}