@import url("style/agenda.css");
@import url("style/container.css");
@import url("style/monthSwitcher.css");


html, body{
    height: 100%;
    width: 100%;

    margin-left: 0;
    margin-right: 0;

    font-family: system-ui;
    
    background-color: #212529;
}

* {
    color: #f8f9fa;

    border: none;
    outline: none;
}

body > *:not(#agenda) {
    padding-left: 10px;
}

a {
    text-decoration: none;
    color: #0f8c28;
    font-weight: bold;
}

a:hover {
    color: #06b308;
}